.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.notificacao{
    display: flex;
}
.notificacao h1{
    font-size: 2em;
}
.notificacao p{
    background-color: #0A317B;
    width: 40px; height: 30px;
    color: #FFF;
    font-size: 1em;
    margin: auto auto auto 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.topo small{
    font-size: 1.5em;
    cursor: pointer;
}

.componente{
    display: flex;
    max-width: 90%; 
    margin: auto;
}
.componente img{
    align-self: flex-start;
}
.message{
    flex-direction: column;
    max-width: 80%;
    cursor: pointer;
    margin: 15px;
}
.periodo{
    color: #5E6D87;
    margin-left: 20px;
}
.message small {
    font-size: 12px;
}
.mostraBolinha{
    width: 10px; height: 10px;
    background-color: #F65351;
    border-radius: 50%;
}
.name{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-weight: bolder;
    margin-left: 20px;
}
.messageback{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.messageback p{
    border: 1px solid #928a8a;
    border-radius: 10px;
    padding: 20px;
}
@media (max-width: 520px){
    .topo{
        flex-direction: column;
    }
}